/* Theme is based on four colours, plus some blends */
:root {
  --col-bg: #ffd680;
  --col-primary: #261e0e;
  --col-right: #2f9d8f;
  --col-warm: #ff4e27;
  --col-primary-25: color-mix(in srgb, var(--col-primary) 25%, transparent);
  --col-primary-50: color-mix(in srgb, var(--col-primary) 50%, var(--col-bg));
  --col-bg-50: color-mix(in srgb, var(--col-bg) 50%, transparent);
  --col-bg-90: color-mix(in srgb, var(--col-bg) 90%, transparent);
  --t-ff: "obviously-variable", sans-serif;
  --header-height: 4rem;
  --gutter: 2.5vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --col-bg: #4b1d7a;
    --col-primary: #8a90c6;
    --col-right: #45ffae;
    --col-warm: #c62997;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/**
   0.8rem of base 16px = 12.8px
   so if vh + vw = 2560,
   i.e. 1600 * 960 or 1280 * 1280: rem = 16px
   360 * 600 or 480 * 480: rem = 14px
   2400 * 1440: rem = 17.6px
 */
:root {
  font-size: calc(0.8rem + 0.125vw + 0.125vh);
  line-height: 1.5;
}

body {
  min-height: 100vh;
  font-family: var(--t-ff);
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--col-bg);
  background-color: var(--col-bg);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.u-invisible {
  /* hide from screen */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 1rem;
  font-family: var(--t-ff);
  cursor: pointer;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  font-variation-settings: "wdth" 120, "wght" 350;
}

svg {
  fill: currentColor;
}
