:root {
  --col-bg-light: #daddd8;
  --col-bg: #c0c5bc;
  --col-primary: #5a6356;
  --col-text: #1b2913;
  --col-right: #49a465;
  --col-warm: #d7d760;
  --col-cold: var(--col-bg-light);
  --col-wrong: #ad2a83;
  --t-ff: "obviously-variable", sans-serif;
}

@media (prefers-color-scheme: dark) {
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/**
   0.8rem of base 16px = 12.8px
   so if vh + vw = 2560,
   i.e. 1600 * 960 or 1280 * 1280: rem = 16px
   360 * 600 or 480 * 480: rem = 14px
   2400 * 1440: rem = 17.6px
 */
:root {
  font-size: calc(0.8rem + 0.125vw + 0.125vh);
  line-height: 1.5;
}

body {
  min-height: 100vh;
  font-family: var(--t-ff);
  font-variation-settings: "ital" 0, "wdth" 100, "wght" 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--col-text);
  background-color: var(--col-bg-light);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.u-invisible {
  /* hide from screen */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 1rem;
  font-family: var(--t-ff);
  cursor: pointer;
}
