@import "./base.css";

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--col-bg);
  /* aspect-ratio: 1; */
  padding: 0.2em;
  padding-top: 0.4em;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0.1em 0.1em 0
    color-mix(in srgb, var(--col-text) 25%, transparent);
}
